html, body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
}

#dd-header {
  background-image: url('../img/bg_header.png');
  background-position: center top;
  height: 447px;

  h1 {
    padding-top: 42px;
    font-size: 38px;
    font-weight: bold;
    color: #ffffff;
  }

  p.lead {
    max-width: 570px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: normal;
    color: #ffffff;
  }
}

h2 {
  font-size: 34px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.7px;
  color: #404040;
}

#level-1 {
  padding-top: 70px;

  .card {
    text-align: center;
    font-size: 16px;
    min-width: 200px;

    .card-title {
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.1;
      letter-spacing: 0.3px;
      color: #404040;
    }

    .card-text {
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 0.3px;
      color: #404040;
    }
  }

  .card-img {
    height: 71px;
    width: 70px;
  }
}
